<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.yangxin.mapper.CategoryMapper">
    <resultMap id="BaseResultMap" type="org.yangxin.pojo.Category">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="type" jdbcType="INTEGER" property="type"/>
        <result column="father_id" jdbcType="INTEGER" property="fatherId"/>
        <result column="logo" jdbcType="VARCHAR" property="logo"/>
        <result column="slogan" jdbcType="VARCHAR" property="slogan"/>
        <result column="cat_image" jdbcType="VARCHAR" property="catImage"/>
        <result column="bg_color" jdbcType="VARCHAR" property="bgColor"/>
    </resultMap>
    <resultMap id="CategoryVO" type="org.yangxin.pojo.vo.category.CategoryVO">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="type" property="type"/>
        <result column="fatherId" property="fatherId"/>

        <!--
            collection标签：用于定义关联的list集合类型的封装规则
            property：对应三级分类的list属性名
            ofType：集合的类型，三级分类的VO
        -->
        <collection property="subCatList" ofType="org.yangxin.pojo.vo.category.SubCategoryVO">
            <id column="subId" property="subId"/>
            <result column="subName" property="subName"/>
            <result column="subType" property="subType"/>
            <result column="subFatherId" property="subFatherId"/>
        </collection>
    </resultMap>
    <resultMap id="NewItemsVO" type="org.yangxin.pojo.vo.item.NewItemsVO">
        <id column="rootCatId" property="rootCatId"/>
        <result column="rootCatName" property="rootCatName"/>
        <result column="slogan" property="slogan"/>
        <result column="catImage" property="catImage"/>
        <result column="bgColor" property="bgColor"/>

        <!--
            collection标签：用于定义关联的list集合类型的封装规则
            property：对应三级分类的list属性名
            ofType：集合的类型，三级分类的VO
        -->
        <collection property="simpleItemList" ofType="org.yangxin.pojo.vo.item.SimpleItemVO">
            <id column="subId" property="subId"/>
            <result column="itemId" property="itemId"/>
            <result column="itemName" property="itemName"/>
            <result column="itemUrl" property="itemUrl"/>
        </collection>
    </resultMap>
    <sql id="Base_Column_List">
        id , name, type, father_id, logo, slogan, cat_image, bg_color
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from category
        where id = #{id,jdbcType=INTEGER}
    </select>
    <select id="selectByType" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from category
        where type = #{type,jdbcType=INTEGER}
    </select>
    <select id="selectByRootCategoryId" parameterType="java.lang.Integer" resultMap="CategoryVO">
        select a.id as id,
        a.name as name,
        a.type as type,
        a.father_id as fatherId,
        b.id as subId,
        b.name as subName,
        b.type as subType,
        b.father_id as subFatherId
        from category a
        left join category b
        on a.id = b.father_id
        where a.father_id = #{rootCategoryId};
    </select>
    <select id="querySixNewItemsLazy" parameterType="Map" resultMap="NewItemsVO">
        select
        c.id as rootCatId,
        c.name as rootCatName,
        c.slogan as slogan,
        c.cat_image as catImage,
        c.bg_color as bgColor,
        i.id as itemId,
        i.item_name as itemName,
        ii.url as itemUrl,
        i.created_time as createdTime
        from category c
        left join item i
        on c.id = i.root_cat_id
        left join items_img ii
        on i.id = ii.item_id
        where c.type = 1
        and i.root_cat_id = #{paramsMap.rootCategoryId}
        and ii.is_main = 1
        order by i.created_time desc
        limit 0, 6;
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete
        from category
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="org.yangxin.pojo.Category">
        insert into category (id, name, type,
        father_id, logo, slogan,
        cat_image, bg_color)
        values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{type,jdbcType=INTEGER},
        #{fatherId,jdbcType=INTEGER}, #{logo,jdbcType=VARCHAR}, #{slogan,jdbcType=VARCHAR},
        #{catImage,jdbcType=VARCHAR}, #{bgColor,jdbcType=VARCHAR})
    </insert>
    <insert id="insertSelective" parameterType="org.yangxin.pojo.Category">
        insert into category
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="type != null">
                type,
            </if>
            <if test="fatherId != null">
                father_id,
            </if>
            <if test="logo != null">
                logo,
            </if>
            <if test="slogan != null">
                slogan,
            </if>
            <if test="catImage != null">
                cat_image,
            </if>
            <if test="bgColor != null">
                bg_color,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="type != null">
                #{type,jdbcType=INTEGER},
            </if>
            <if test="fatherId != null">
                #{fatherId,jdbcType=INTEGER},
            </if>
            <if test="logo != null">
                #{logo,jdbcType=VARCHAR},
            </if>
            <if test="slogan != null">
                #{slogan,jdbcType=VARCHAR},
            </if>
            <if test="catImage != null">
                #{catImage,jdbcType=VARCHAR},
            </if>
            <if test="bgColor != null">
                #{bgColor,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="org.yangxin.pojo.Category">
        update category
        <set>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="type != null">
                type = #{type,jdbcType=INTEGER},
            </if>
            <if test="fatherId != null">
                father_id = #{fatherId,jdbcType=INTEGER},
            </if>
            <if test="logo != null">
                logo = #{logo,jdbcType=VARCHAR},
            </if>
            <if test="slogan != null">
                slogan = #{slogan,jdbcType=VARCHAR},
            </if>
            <if test="catImage != null">
                cat_image = #{catImage,jdbcType=VARCHAR},
            </if>
            <if test="bgColor != null">
                bg_color = #{bgColor,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="org.yangxin.pojo.Category">
        update category
        set name = #{name,jdbcType=VARCHAR},
        type = #{type,jdbcType=INTEGER},
        father_id = #{fatherId,jdbcType=INTEGER},
        logo = #{logo,jdbcType=VARCHAR},
        slogan = #{slogan,jdbcType=VARCHAR},
        cat_image = #{catImage,jdbcType=VARCHAR},
        bg_color = #{bgColor,jdbcType=VARCHAR}
        where id = #{id,jdbcType=INTEGER}
    </update>
</mapper>